.cta_button {
	position: relative;
}

.cta_button::before {
	content: "";
	background: linear-gradient(45deg, hsl(var(--primary)), hsl(var(--accent)), hsl(var(--primary)));
	position: absolute;
	top: -4px;
	left: -6px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 12px);
	height: calc(100% + 8px);
	filter: blur(16px);
	animation: glowing 20s linear infinite;
	transition: transform 0.3s ease-in-out;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
